<body onLoad="autoclick">
 
<a id='auto' href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7eb44ce11b9ce817
&redirect_uri=http://212.64.11.106/wen&response_type=code&scope=snsapi_base&state=123#wechat_redirect"></a>
 
</body>
 
<script type="text/javascript">
 
 
 function autoclick(){
 
 lnk = document.getElementById("auto");
 
 lnk.click();
 
  }
 
</script>